@CHARSET "UTF-8";

body {
	background-color: #e9e9e9;
	font-family: 'Noto Sans', sans-serif;
	margin:0; 
	padding:0;
}

.error {
	background: red;
}

.errorDiv {
	font-size: 0.8em;
	color: red;
	font-style: italic;
}

#container {
	width: 1000px;
	height: 100%;
	background-color: #d4e7ed;
	margin: 0 auto;
	padding: 0px;
	top:0;
}

#fenticsik{
	width:100%;
	background-color: #000000;
	
	height: 30px;	
}

#login {
	float:right;
	margin-right: 100px;
}

#fenticsik span {
	font-size: 0.8em;
	color: white;
}

#header {
	width: inherit;
	height: 200px;
}	

#footer {
	width: inherit;
	height: 100px;
}